# Environnements virtuels
venv/
env/
.venv/

# Python
__pycache__/
pycache/ 
*.pyc
*.pt

# Données (trop volumineuses / régénérables localement)
classification/raw_kaggle_download/
classification/dataset/
classification/dataset_grouped/
classification/checkpoints/

# Archives
*.zip

dataset/
yolo_dataset/
dataset_grouped/ 
checkpoints/ 
.DS_Store